body {
    font-family: 'Prompt', sans-serif;
  }

  .container {
    display: flex;
    flex-direction: row;
    gap: 10px; 
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 10px; 
  }

  /* Text Section Styling */
  .text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 18px; 
  }

  /* Carousel Wrapper Styling */
  .carousel-wrapper {
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
  }

  .carousel-inner img {
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
    object-fit: cover;
  }

  .highlight-image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 1rem; 
  }

  .card {
    border: none; 
  }

  .carousel-control-prev, .carousel-control-next {
    width: 5%;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(255, 250, 250, 0);
    border-radius: 50%;
    width: 70px;
    height: 30px;
  }

  .carousel-control-prev {
    left: 10px;
  }

  .carousel-control-next {
    right: 10px;
  }

  .carousel-control-prev-icon::before, .carousel-control-next-icon::before {
    font-size: 1rem;
  }
